
.expense-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  /* max-width: 400px; */
  height: fit-content;

  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.grid-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.grid-cell {
  padding: 10px;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
}