.main-and-header{
   
    
}


.header{
background-color:#1e2a38;
width: 100vw;
height: 59px;
border-bottom: solid;
border-width: 1px;
}

.main{
    background-color: #E3EAF2;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: inline-flex;
    gap: 10px;

}
