.main-and-header {
  overflow-x: hidden;
}

.main {
  background-color: #e3eaf2;
  flex: 1;
  min-width: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(100px, 2fr);
  gap: 10px;
  max-width: 100vw;
}


.left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
}

.mid {
  min-width: 100px;
}
.right {
/*   
  height: 100vh;
  width: 100vw; */
  min-width: 100px;
  margin-right: 145px;
  background-color: #e3eaf2;
}

.main-header {
  background-color: #1e2a38;
  width: 100vw;
  height: 69px;
  border-bottom: solid;
  border-width: 1px;
}


@media(max-width:1000px){
  .right{
    margin-right: 0px;
  }
  .main{
    grid-template-columns: 1fr;
  }
}