.main-and-header {
}

.main {
  background-color: #e3eaf2;
  flex: 1;
  min-width: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 100vw;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.mid {
  flex: 1;
}
.right {
  flex: 3;
/*   
  height: 100vh;
  width: 100vw; */

  margin-right: 145px;
  background-color: #e3eaf2;
}

.header {
  background-color: #e3eaf2;
  width: 100vw;
  height: 59px;
  border-bottom: solid;
  border-width: 1px;
}
/* @media (max-width: 600px) {
  .right {
    padding: 10px;
  }
} */
